@import "normalize.css";
@import "reset-css";

:root {
  height: 100%;
}

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* layout 확인용 class */
.border-black {
  border: 1px solid black;
}
.border-red {
  border: 1px solid red;
}
.border-blue {
  border: 1px solid blue;
}
.border-green {
  border: 1px solid green;
}
